main{
  display: grid;
}

.first_div a{
    text-decoration: none;
    color: black;
    padding: 12px 14px;
    font-size: 20px;
    margin-right: 0px;
    float: left;
    color: red;
}

.nav-bar a{
  float: right;
  color: black;
}

.first_div{
  background-color: lightgray;
  overflow: hidden;
}

.second_div{
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  line-height: 80%;
}

.h2-1{
  text-decoration-line: line-through;
  margin-left: 80px;
}

.third_div{
  background-color: lightgray;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fourth_div
{
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.content1{
  text-align: center;
}

hr{
  border: 1px solid;
  width: 200px;
}

.achievements{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  column-gap: 10%;
  padding: 0% 10%;
}

.achieved{
  background-color: white;
  border-style: hidden;
  padding: 15px;
  border-radius: 10px;
  color: orange;
}

.skills{
  display: grid;
  grid-template-columns: auto auto;
}

.skills-list{
  list-style: none;
}

li{
  padding: 5px;
}

.skill-bar{
  height: 8px;
  width: 200px;
  background-color: gray;
}

.skill-fill{
  height: 100%;
  background-color: orange;
  width: 80%;
}

.technical-skills,.language-skills{
  padding: 0% 20%;
}

input{
  width: 30%;
  margin-bottom: 20px;
}

body{
  margin: 0px;
}